*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color--: #010032;
    --color1--: #4543E8;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width: 1160px) {
    .container {
        width: 1040px;
    }

    .main_list .h2_main {
        width: 80%;
    }

    .item_list,
    .item_lists img {
        width: 400px !important;
    }

    .item_lists {
        width: 400px !important;
    }

    .sec1_title h2 {
        font-size: 50px !important;
    }

    .item_lis {
        margin-left: 200px !important;
    }

    .tem {
        margin-right: auto !important;
        margin-left: 0px !important;
        padding-right: 50px !important;
    }

    .item_lists1 {
        width: 350px !important;
        margin-left: 200px !important;
    }

    .sec2_list li h2 {
        width: 100% !important;
        font-size: 30px !important;
    }

    .infor_1 p {
        width: 350px !important;
    }

    .sec3_title h2 {
        margin-left: 260px !important;
    }

    .text_sec4 h2 {
        width: 100% !important;
    }

    .sec5_list li img {
        width: 300px !important;
    }

    .link_sec5 {
        margin-left: 460px !important;
    }
}

@media screen and (max-width: 1060px) {
    .container {
        width: 940px;
    }

    .main_list .h2_main {
        width: 85%;
        font-size: 40px;
    }

    .sub_text {
        width: 80% !important;
        font-size: 15px !important;
    }

    .sec_subtext {
        width: 100% !important;
    }

    .sec1_title h2 {
        font-size: 45px !important;
    }

    .item_lis {
        margin-left: 0px !important;
    }

    .tem {
        margin-right: 0px !important;
        margin-left: auto !important;
    }

    .item_lists1 {
        margin-right: auto !important;
        margin-left: 0px !important;
        margin-top: 50px !important;
    }

    .infor_1 p {
        width: 300px !important;
    }

    .sec3_title h2 {
        font-size: 40px !important;
        margin-left: 240px !important;
    }

    .text_sec4 p {
        width: 80% !important;
    }

    .sec4_lost li .bx:nth-child(1) {
        margin-left: 50px !important;
    }

    .sec5_list li img {
        width: 250px !important;
    }

    .link_sec5 {
        margin-left: 420px !important;
    }

}

@media screen and (max-width: 960px) {
    .container {
        width: 840px;
    }

    .nav_list_logo li .nav_link {
        display: none;
    }

    .nav_list_logo .nav_li_1 {
        display: block;
        color: white;
    }

    .sec_title {
        display: flex;
        flex-direction: column;
    }

    .sec_list {
        width: 100% !important;
        margin-bottom: 50px;
    }

    .sec1_item {
        display: flex;
        flex-direction: column;
    }

    .sec1_title h2 {
        width: 100% !important;
    }

    .item_lists {
        margin-top: 40px !important;
    }

    .sec2_list {
        display: flex;
        flex-direction: column;
    }

    .sec2_list li:nth-child(2) {
        margin-left: auto !important;
    }

    .sec2_list li p {
        width: 100% !important;
        font-size: 13px;
    }

    .ul_sec2 {
        display: flex;
        flex-direction: column;
    }

    .ul_sec2 li:nth-child(1) {
        margin-left: auto !important;
        margin-top: 50px;
    }

    .ul_sec2 li:nth-child(3) {
        margin-left: auto !important;
        margin-top: 50px;
    }

    .ul_sec2 li img {
        width: 200px !important;
        margin-left: 0px !important;
    }

    .infor_1 p {
        width: 250px !important;
    }

    .sec3_title h2 {
        margin-left: 200px !important;
    }

    .sec4_lost {
        display: flex;
        flex-direction: column;
    }

    .sec4_lost li {
        padding-top: 50px;
    }

    .sec5_list {
        display: flex;
        flex-direction: column;
    }

    .sec5_list li img {
        width: 350px !important;
    }

    .sec5_list li {
        margin-top: 30px;
    }

    .link_sec5 {
        margin-left: 360px !important;
    }

    .sec7_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sec7_list1 {
        margin-top: 20px;
        margin-left: 0px !important;
    }
    .last {
        display: flex;
        flex-direction: column;
    }
    .last_ul {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 860px) {
    .container {
        width: 740px;
    }

    .main_list .h2_main {
        font-size: 30px;
    }

    .sub_text {
        width: 100% !important;
    }

    .main_link {
        font-size: 18px !important;
    }

    .item_lis {
        width: 500px !important;
    }

    .infor_sec3 {
        display: flex;
        flex-direction: column;
    }

    .sec3_title h2 {
        font-size: 30px !important;
        margin-left: 180px !important;
    }

    .infor_1 {
        margin-top: 30px !important;
    }

    .infor_1 p {
        width: 350px !important;
    }

    .text_sec4 {
        display: flex;
        flex-direction: column;
    }

    .text_sec4 p {
        margin-top: 20px !important;
    }

    .link_sec5 {
        margin-left: 320px !important;
    }

    .infor_sec6 {
        display: flex;
        flex-direction: column;
    }

    .infor_sec6 .text_infor_sec6 {
        margin-left: 0px !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    .text-sec6 h2 {
        width: 100% !important;
        font-size: 25px !important;
    }

    .text-sec6 a {
        font-size: 15px !important;
    }

    .foot_list {
        display: flex;
        flex-direction: column;
    }

    .foot_list li {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 760px) {
    .container {
        width: 640px;
    }

    .main_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sec_lists h2 {
        font-size: 30px !important;
    }

    .ul_sec {
        display: flex;
        flex-direction: column;
    }

    .ul_sec li img {
        width: 200px !important;
        margin-bottom: 20px;
    }

    .ul_sec2 li a {
        font-size: 20px !important;
    }

    .sec3_title h2 {
        margin-left: 150px !important;
    }

    .link_sec5 {
        margin-left: 260px !important;
    }
}

@media screen and (max-width: 660px) {
    .container {
        width: 540px;
    }

    .nav_list li {
        display: none;
    }

    .lists_ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item_lis {
        width: 400px !important;
    }

    .ul_sec2 li a {
        font-size: 15px !important;
    }

    .ul_sec2 li img {
        width: 100px !important;
    }

    .sec3_title h2 {
        margin-left: 10px !important;
        width: 100% !important;
    }

    .link_sec5 {
        margin-left: 220px !important;
    }

}

@media screen and (max-width: 560px) {
    .container {
        width: 440px;
    }

    .infor_1 p {
        width: 200px !important;
    }

    .sec3_title h2 {
        font-size: 20px !important;
    }

    .link_sec5 {
        margin-left: 160px !important;
    }
}

@media screen and (max-width: 460px) {
    .container {
        width: 340px;
    }

    .link_sec5 {
        margin-left: 120px !important;
    }
}

header {
    background-color: var(--color--);
}

header .navbar .nav_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0px;
}

.nav_list {
    display: flex;
    align-items: center;
}

.nav_list li a {
    color: white;
    margin: 0 15px 0 15px;
    transition: .65s;
    border: #010032;
}

.nav_list li a:hover {
    border: 1px solid var(--color--);
    /* padding-bottom: 5px; */
    background-color: #4543E8;
    padding: 5px 9px;
    border-radius: 5px;
}

.nav_list_logo li .nav_link {
    color: white;
}

.nav_list_logo {
    display: flex;
    align-items: center;
}

.nav_list_logo .li {
    color: white;
    margin-left: 5px;
}

.nav_li_1 {
    display: none;
}

.nav_list .bx {
    display: none;
}

.main .main_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_list h2 {
    font-size: 50px;
    width: 60%;
    font-weight: 400;
    color: white;
}

.main_list .sub_text {
    color: white;
    width: 60%;
    font-size: 18px;
    margin: 10px 0 10px 0;
}

.main_list a {
    color: white;
    font-size: 30px;
    margin: 20px 0 20px 0px;
    border: 1px solid var(--color1--);
    padding: 10px 20px;
    border-radius: 50px;
    transition: .65s;
}

.main_list a:hover {
    background-color: #4543E8;
    box-shadow: 0px 0px 30px 0px var(--color1--);
}

.main_title .main_last {
    display: flex;
    align-items: center;
}

.main_last .bx {
    color: white;
    background: #D8D8EB33;
    border: 1px solid #D8D8EB33;
    border-radius: 50%;
    padding: 10px 11px;
    font-size: 20px;
    margin-right: 20px;
}

.main_last h3 {
    color: white;
    font-weight: 400;
}

.main_last .text_sub {
    color: #FFFFFF99;
}

.section .sec_title {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.sec_list {
    width: 50%;
}

.sec_list .water {
    display: flex;
    align-items: center;

}

.water img {
    width: 50px;
}

.water p {
    color: #4543E8;
    margin-left: 15px;
}

.sec_list .start_icons .bx {
    color: #4543E8;
}

.start_icons {
    margin-top: 80px;
}

.sec_list .sec_subtext {
    width: 53%;
    margin: 10px 0 10px 0px;
}

.steve_info {
    display: flex;
    align-items: center;
}

.info_steve {
    margin-left: 20px;
}

.sec_lists h2 {
    font-size: 40px;
    font-weight: 400;
    width: 80%;
    margin-bottom: 20px;
}

.sec_lists .lists_ul {
    display: flex;
}

.lists_ul li {
    margin: 0px 60px 0 0px;
}

.lists_ul li h2 {
    color: var(--color1--);
}

.lists_ul li p {
    font-weight: 500;
    letter-spacing: 1px;
}

.ul_sec {
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
}

.ul_sec li img {
    width: 130px;
}

.sec1_title {
    margin-top: 100px;
}

.section1 .sec1_title .work_div img {
    width: 70px;
    margin-right: 20px;
}

.work_div {
    display: flex;
    align-items: center;
}

.work_div h3 {
    color: var(--color1--);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sec1_title h2 {
    font-size: 60px;
    margin-top: 10px;
    font-weight: 600;
    width: 60%;
}

.sec1_item {
    display: flex;
    margin-top: 50px;
}

.item_list {
    width: 500px;
}

.item_lists {
    width: 500px;
    margin-left: auto;
}

.item_list h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    margin: 20px 0 20px 0px;
}

.item_list h3 .bx {
    font-size: 25px;
}

.item_lists h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    margin: 20px 0 20px 0px;
}

.item_lists h3 .bx {
    font-size: 25px;
}

.item_lis {
    width: 600px;
    margin-top: 100px;
    margin-left: 400px;
}

.item_lis h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    margin: 20px 0 20px 0px;
}

.item_lists1 {
    width: 450px;
    margin-left: auto;
}

.item_lists1 h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px 0px;
    font-weight: 600;
}

.item_lists1 h3 .bx {
    font-size: 25px;
}

.item_lists1 a {
    border: 1px solid var(--color--);
    color: var(--color--);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: 40px;
    transition: .65s;
}

.item_lists1 a:hover {
    background-color: var(--color--);
    color: white;
    box-shadow: 0px 0px 40px 0px var(--color--);
}

.section2 {
    background-color: var(--color--);
    padding: 50px 0 50px 0px;
    margin-top: 100px;
}

.sec2_title .sec2_list {
    display: flex;
    color: white;
}

.sec2_list img {
    color: white;
}

.sec2_list li {
    width: 33.333333%;
    padding: 0 20px 0 20px;
}

.sec2_list li .list_div {
    display: flex;
    align-items: center;
}

.list_div img {
    width: 70px;
}

.list_div h3 {
    margin-left: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.sec2_list li h2 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 20px;
    width: 80%;
}

.sec2_list li .bx {
    font-size: 40px;
}

.sec2_list li .list_h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 10px 0px;
}

.sec2_list li p {
    width: 80%;
}

.ul_sec2 {
    display: flex;
    color: white;
    /* margin-left: 500px      */
    margin-top: 50px;
}

.ul_sec2 li {
    width: 33.333333%;
}

.ul_sec2 li .bx {
    font-size: 40px;
}

.ul_sec2 li h3 {
    margin: 10px 0 10px 0px;
    font-weight: 600;
}

.ul_sec2 li p {
    width: 80%;
}

.ul_sec2 li a {
    border: 1px solid var(--color1--);
    padding: 10px 20px;
    color: white;
    border-radius: 50px;
    margin-bottom: 40px;
    transition: .65s;
    font-size: 25px;
}

.ul_sec2 li a:hover {
    background-color: var(--color1--);
    box-shadow: 0px 0px 40px 0px var(--color1--);
}

.ul_sec2 li img {
    width: 200px;
    margin-left: 100px;
}

.section3 {
    background: #D8D8EB;
    padding-top: 100px;
}

.sec3_title .test_sec3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color1--);
}

.test_sec3 img {
    width: 70px;
    margin: 0 10px 0 10px;
}

.test_sec3 h3 {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sec3_title h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 45%;
    margin-left: 320px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.infor_sec3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.infor_sec3 img {
    width: 50px;
    margin-right: 20px;
}

.infor_sec3 .infor_1 {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border-end-end-radius: 0px;
    margin: 0 10px 0 10px;
}

.infor_1 .starts_sec3 .bx {
    color: yellow;
}

.infor_1 h3 {
    font-weight: 500;
    margin: 20px 0 20px 0px;
}

.infor_1 p {
    width: 400px;
}

.mcinfor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.iconsleft-right {
    /* margin-left: 515px; */
    text-align: center;
}

.iconsleft-right .bx {
    color: var(--color1--);
    font-size: 30px;
    margin: 20px 10px 0 10px;
}

.section4 {
    padding-top: 100px;
}

.sec4_title .sec4_pros {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.sec4_pros img {
    width: 70px;
}

.sec4_pros h3 {
    color: var(--color1--);
    font-weight: 600;
    margin-left: 20px;
}

.text_sec4 {
    display: flex;
    justify-content: space-between;
}

.text_sec4 h2 {
    font-size: 50px;
    font-weight: 600;
    width: 32%;
}

.text_sec4 p {
    width: 25%;
    line-height: 30px;
    font-weight: 700;
}

.sec4_lost {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec4_lost li h3 {
    color: var(--color1--);
    font-size: 40px;
    font-weight: 500;
}

.sec4_lost li:nth-child(2) {
    margin: 0 50px 0 50px;
}

.sec4_lost li .bx {
    font-size: 20px;
}

.sec4_lost li .bx:nth-child(1) {
    margin-left: 180px;
}

.sec4_lost li h4 {
    margin: 10px 0 10px 0px;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
}

.sec4_lost li p {
    width: 80%;
}

.section5 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.sec5_title .shop_sec5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.shop_sec5 img {
    width: 70px;
}

.shop_sec5 h3 {
    margin: 0 10px 0 10px;
    color: var(--color1--);
    font-weight: 600;
    text-transform: uppercase;
}

.sec5_title h2 {
    text-align: center;
    font-size: 40px;
    /* margin-top: 10px; */
    font-weight: 600;
}

.sec5_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.sec5_list li img {
    width: 350px;
}

.sec5_list li h3 {
    margin-top: 10px;
    /* margin-bottom: 10px; */
    font-weight: 600;
    letter-spacing: 1px;
}

.link_sec5 {
    text-align: center;
    cursor: pointer;
    color: var(--color1--);
    border-bottom: 1px solid var(--color1--);
    padding-bottom: 5px;
    margin-left: 510px;
    margin-top: 50px;
    transition: .65s;
}

.link_sec5:hover {
    border: 1px solid var(--color1--);
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 490px;
    box-shadow: 0px 0px 40px 0px var(--color1--);
    color: white;
    background-color: var(--color1--);
}

.section6 {
    margin-top: 100px;
}

.sec6_title .blog_sec6 {
    display: flex;
    align-items: center;
}

.blog_sec6 img {
    width: 70px;
}

.blog_sec6 h3 {
    margin-left: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color1--);
    text-transform: uppercase;
}

.sec6_title .text-sec6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 100px 0px;
}

.text-sec6 h2 {
    font-size: 40px;
    width: 40%;
    font-weight: 500;
}

.text-sec6 a {
    display: flex;
    align-items: center;
    color: var(--color1--);
    border: 1px solid var(--color1--);
    border-radius: 20px;
    padding: 10px 20px;
    transition: .65s;
    font-weight: 700;
}

.text-sec6 a:hover {
    background-color: var(--color1--);
    color: white;
    box-shadow: 0px 0px 30px 0px var(--color1--);
}

.text-sec6 a .bx {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 18px;
}

.infor_sec6 {
    display: flex;
    margin-top: 50px;
    border-bottom: 1px solid #80808042;
    padding-bottom: 40px;
    align-items: flex-start;
}

.infor_sec6 h4 {
    color: var(--color1--);
    margin: 0px 0 20px 0px;
    letter-spacing: 1px;
}

.infor_sec6 h3 {
    font-size: 25px;
    width: 90%;
    font-weight: 500;
    margin-bottom: 10px;
}

.infor_sec6 img {
    width: 300px;
}

.infor_sec6 p {
    width: 80%;
}

.infor_sec6 .text_infor_sec6 {
    margin-left: 20px;
}

.infor_sec6 a {
    color: var(--color1--);
    border-bottom: 1px solid var(--color1--);
    padding-bottom: 10px;
}

.section7 {
    margin-top: 100px;
    padding-bottom: 20px;
}

.sec7_title {
    display: flex;
}

.sec7_list {
    width: 570px;
    text-align: center;
    background-color: var(--color1--);
    color: white;
    padding: 110px 0 100px;
    border-radius: 20px;
    margin-right: 10px;
    /* transition: .65s; */
    background-image: url(../img/IMAGE\ -\ 2022-08-08T122500.597.png);
    background-size: 600px;
    background-repeat: no-repeat;

}

.sec7_list1 {
    width: 570px;
    text-align: center;
    padding: 110px 0 100px 0px;
    background-color: var(--color1--);
    color: white;
    border-radius: 20px;
    margin-left: 10px;
    /* transition: .65s; */

}

.sec7_list h3 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
}

.sec7_list1 h3 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
}

.sec7_list a {
    border-bottom: 1px solid #24228f91;
    color: white;
    padding-bottom: 10px;
    margin-top: 20px;
}

.sec7_list1 a {
    border-bottom: 1px solid #24228f91;
    color: white;
    padding-bottom: 10px;
    margin-top: 20px;
    /* transition: .65s; */
}

.footer {
    background-color: var(--color--);
    color: white;
    padding: 50px 0 50px 0px;
}

.foot_title .con_foot img {
    width: 70px;
    margin-right: 10px;
}

.con_foot {
    display: flex;
    align-items: center;
}

.foot_title h2 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.foot_list {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 50px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.foot_list li .link_foot_1 {
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.404);
    padding-bottom: 10px;
}

.foot_list li p {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.foot_list li h3 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.foot_list li .input {
    display: flex;
    align-items: center;
}

input {
    border-radius: 20px;
    background-color: #010032;
    color: white;
    padding: 10px 20px;
    border: 1px solid gray;
    outline: #010032;
}

.link_1_foot {
    border: 1px solid var(--color1--);
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    transition: .65s;
}

.link_1_foot:hover {
    background-color: #4543E8;
    box-shadow: 0px 0px 30px 0px var(--color1--);
}

.last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.last_ul {
    display: flex;
}

.last_ul li {
    margin: 0 10px 10px 0px;
}